<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Active Processor</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
#mydiv {
	position: fixed;
	left: 50%;
	width: 30em;
	position: fixed;
	top: 50%;
	border: 1px solid #1d201f21;
	height: 6em;
	margin-top: -18em;
	margin-left: -15em;
	position: fixed;
	top: 52%;
	background-color: #f3f3f3;
}

.table {
	max-width: 80%;
}

td {
	width: 100px;
	text-align: center;
}

th {
	width: 100px;
	text-align: center;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Process API Update (Java 9)
					Features</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/process/startProcessor}">START
						NEW PROCESSOR</a></li>
				<li class="active"><a th:href="@{/process/loadProcess}">RELOAD
						PROCESSOR</a></li>
			</ul>
		</div>
	</nav>
	<br />
	<br />
	<div align="center" id="mydiv" th:each="list : *{dummylist}">
		<br />
		<form class="form-inline" action="/process/start">
			<div class="form-group">
				<label for="email_id" class="control-label">PROCESSOR : </label> <input
					type="text" class="form-control" id="email_id" name="processorName"
					placeholder="Ex notepad.exe ,eclipse.exe" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">START</button>
			</div>

		</form>
	</div>
	<br />
	<br />
	<p align="center"
		style="text-align: center; font-weight: bold; font-family: sans-serif; color: navy; font-size: 20px;"
		th:text="'All active processor currently running in your Machine Listed below ('+${size}+')'"></p>
	<p th:text="${message}" style="color: red; text-align: center;"></p>
	<div class="container" th:each="tlist : *{tableList}">
		<table
			class="table table-striped table-bordered table-hover table-condensed"
			align="center">
			<thead>
				<tr>
					<th>Processor ID</th>
					<th>Time(in sec)</th>
					<th>.Exe Path</th>
					<th>Start Time</th>
					<th>R.T Duration</th>
					<th>Owner</th>
					<th>STOP</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="process : *{processes}">
					<td th:text="${process.pid}"></td>
					<td th:text="${process.duration_in_sec}"></td>
					<td th:text="${process.exePath}"></td>
					<td th:text="${process.dateTime}"></td>
					<td th:text="${process.duration_in_ms}"></td>
					<td th:text="${process.owner}"></td>
					<td><a th:href="@{/process/destroy}+'?id='+${process.pid}"><img
							th:src="@{/images/img2.png}" height="25px" width="30px" /></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>